{%extends "base.html"%}
{%block title%} Usuarios {%endblock%}

{%block contenido%}

<div class="container">
    <h1 class="text-center">Lista de usuarios</h1>

    <a href="{{url_for('crear')}}" class="btn btn-dark btn-sm m-3">Crear nuevo usuario</a>
    <table border="1" class="table">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>

        {%for u in usuarios%}
        <tr>
            <td>{{u[0]}}</td>
            <td>{{u[1]}}</td>
            <td>{{u[2]}}</td>
            <td>
                <a class="btn btn-secondary" href="{{url_for('editar', id=u[0])}}">Editar</a>
                <a class="btn btn-danger" href="{{url_for('eliminar', id=u[0])}}" onclick="return confirm('Seguro que desea eliminarlo?')">Eliminar</a>
            
            </td>
        </tr>
        {%endfor%}

    </table>
</div>

{%endblock%}
